@media only screen and (min-device-width: 375px) and (max-device-width: 640px) {
  .main-text {
    font-size: 16px;
  }

  .text-container {
    &.__padding {
      padding: 0 10%;
    }
  }

  .sub-container {
    height: 13vh;
  }
}
